<form #customerForm="ngForm" (ngSubmit)="validate()" >
    <label for="code">Code</label>
    <input name="code" [(ngModel)]="customer.code">

    <label for="description">Description</label>
    <input name="description" [(ngModel)]="customer.description">

    <button>Save</button>
</form>