
@mixin content_label($lbl) {
    &::before{
        width: 5em;
        content: $lbl;
        display: inline-block;
        font-size: 0.75em;
        padding-right: 1em;
        font-family: sans-serif;
    }
}

$padHeight:0.25em;
.details{
    padding-top: $padHeight;

}
.code {
    @include content_label('Code');
    font-family: monospace;
    font-size: 1.1em;
    min-width: 5em;
    padding-top: $padHeight;
}
.description{
    @include content_label('Description');
    min-width: 6em;
    font-family: sans-serif;
    font-size: 1.1em;
    padding-top: $padHeight;
}
