<div class="details" *ngIf="customer$ | async as customer">
    <div class="code">{{customer.code}}</div>
    <div class="description">{{customer.description}}</div>
    <button type="button" (click)="delete(customer._id)">Delete</button>
</div>