<header class="header header-6">
    <div class="branding">
        <a [routerLink]="['/']"> <div class="material-icons">public</div> </a>
    </div>
    <div class="header-nav">
        <a class="nav-link" [routerLink]="['/']">Corso Angular</a>
        <a class="nav-link" [routerLink]="['/customer']">Customers</a>
    </div>
</header>