.nav-link {
    padding: 4px;
}

.branding {
    display: inline-block;
    .material-icons {
        font-size: 32pt;
    }
    a:visited {
        color: black;
    }
}

.header-nav{
    display: inline-block;
    line-height: 32pt;
    text-align: center;
    vertical-align: bottom;
}